body {
  background-color: lightblue;
}

h1 {
  font-family: verdana;
  text-align: center;
  color: #444444;
}

p {
  font-family: verdana;
  font-size: 18px;
  color: #444444;
}

#box {
  width: 700px;
  background-color: white;
  margin: auto;
  padding: 20px;
}
