body {
  background-color: #FFEBCF;
}

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  color: #444444;
}

p {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  color: #444444;
}

#box {
  width: 700px;
  margin: auto;
  padding: 20px;
}
